{% extends 'base.html' %}
{% load static %}

{% block title %}{{ property.name }}{% endblock %}

{% block head %}
    <link href="{% static 'css/property.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-1 d-flex align-items-center">
                <a href="{% url 'home' %}" class="btn btn-outline-primary bi bi-chevron-left"
                   style="font-size: 3em;"></a></div>
            {#            <div class="col-1 d-flex align-items-center"><a href="{% url 'home' %}" class="bi bi-chevron-left border border-primary rounded-3" style="font-size: 3em;"></a></div>#}
            <div class="col d-flex align-items-center"><h1 class="display-3"
                                                           style="min-height: 65px;">{{ property.name }}</h1></div>
        </div>
        <ul class="nav nav-tabs mb-4" id="property-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="spaces-tab" data-bs-toggle="tab" data-bs-target="#spaces"
                        type="button"
                        role="tab" aria-controls="spaces" aria-selected="true">Spaces
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="projects-tab" data-bs-toggle="tab" data-bs-target="#projects" type="button"
                        role="tab" aria-controls="projects" aria-selected="false">Projects
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tasks-tab" data-bs-toggle="tab" data-bs-target="#tasks" type="button"
                        role="tab" aria-controls="tasks" aria-selected="false">Tasks
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button"
                        role="tab" aria-controls="overview" aria-selected="false">Overview
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane mx-3 active" id="spaces" role="tabpanel" aria-labelledby="spaces-tab">
                <h1 class="display-5 mb-3">Spaces</h1>
                {% for space in spaces %}
                    <div class="row">
                        {% include 'components/spaces_list.html' %}
                    </div>
                {% endfor %}
                <a href="{% url 'space-add' property.id %}" class="btn btn-primary">Add a space</a>
            </div>
            <div class="tab-pane" id="projects" role="tabpanel" aria-labelledby="projects-tab">
                <h1 class="display-6">Projects</h1>
                {% for project in projects %}
                    <div class="row">
                        {% include 'components/project_list.html' %}
                    </div>
                {% endfor %}
                <a href="{% url 'project-add' property.id %}" class="btn btn-primary">Add a project</a>
            </div>
            <div class="tab-pane" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
                <h1 class="display-6">Tasks</h1>
                {% for task in tasks %}
                    <div class="row">
                        {% include 'components/task_list.html' %}
                    </div>
                {% endfor %}
                <a href="{% url 'task-add' property.id %}" class="btn btn-primary">Add a task</a>
            </div>
            <div class="tab-pane" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <h1 class="display-6">Overview</h1>
            </div>
        </div>
    </div>
{% endblock %}