{% extends 'base.html' %}
{% load static %}

{% block title %}{{ property.name }}{% endblock %}

{% block head %}
    <link href="{% static 'css/property.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-3 mb-4">{{ property.name }}</h1>
        <div class="row gx-5 mb-4">
            <div class="col-6">
                <h1 class="display-6">Projects</h1>
                {% for project in projects %}
                    <div class="row">
                        {% include 'components/project_list.html' %}
                    </div>
                {% endfor %}
                <a href="{% url 'project-add' property.id %}" class="btn btn-primary">Add a project</a>
            </div>
            <div class="col-6">
                <h1 class="display-6">Tasks</h1>
                {% for task in tasks %}
                    <div class="row">
                        {% include 'components/task_list.html' %}
                    </div>
                {% endfor %}
                <a href="{% url 'task-add' property.id %}" class="btn btn-primary">Add a task</a>
            </div>
        </div>
        {% if not spaces %}
            <a href="{% url 'space-add' property.id %}" class="btn btn-primary">Add a space</a>
        {% endif %}
        <h1 class="display-5">Spaces:</h1>
        <div class="row">
            {% for space in spaces %}
                <div class="col-6 col-md-4 col-sm-3">
                    <a href="{% url 'space' space.id %}" class="btn btn-primary">{{ space.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}