{% extends 'base.html' %}

{% block title %}Add a space{% endblock %}

{% block content %}
    <div class="container">
        <div class="p-4">
            <div class="d-flex mb-4 align-items-center">
                <div class="p-2">
                    <a class="display-4" href="{{ property.url }}">{{ property.name }}</a>
                </div>
                <div class="p-2">
                    <i class="display-4 bi bi-chevron-right"></i>
                </div>
                <div class="p-2">
                    <h1 class="display-3">Add a space</h1>
                </div>
            </div>
            <form action="{% url 'space-add' property.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}