{% extends 'base.html' %}
{% load static %}

{% block title %}{{ space.name }}{% endblock %}

{% block head %}
    <link href="{% static 'css/property.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="mb-4">
            <h1 class="display-4 mb-4">{{ space.name }}</h1>
            <div class="row">
                <div class="col-6">
                    <h1 class="display-5">Projects</h1>
                    {% for project in projects %}
                        <div class="row">
                            {% include 'components/project_list.html' %}
                        </div>
                    {% endfor %}
                    <a href="{% url 'project-add' space.id %}" class="btn btn-primary">Add
                        a project</a>
                </div>
                <div class="col-6">
                    <h1 class="display-5">Tasks</h1>
                    {% for task in tasks %}
                        <div class="row">
                            {% include 'components/task_list.html' %}
                        </div>
                    {% endfor %}
                    <a href="{% url 'task-add' space.id %}" class="btn btn-primary">Add a task</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}